#station_mainapp_items {
	position: absolute;
	top: 10%;
	left: 3%;
	width:94%;
}

#station_mainapp_edititem {
	position: absolute;
	border: solid 1px silver;
	top: 15%;
	left: 3%;
	width:94%;
	height:80%;
}

#station_mainapp_item_masks {
	position: absolute;
	top: 30%;
	left: 3%;
	width:94%;
}

.station_mainapp_maskselected {
	background-color: #888888;
}

#station_mainapp_item_editmask {
	position: absolute;
	border: solid 1px silver;
	top: 40%;
	left: 5%;
	width:90%;
	height:45%;
}

#station_mainapp_item_editmaskurllabel {
	position: absolute;
	top: 10%;
	left: 5%;
}

#station_mainapp_item_editmaskurlupload {
	position: absolute;
	top: 10%;
	left: 20%;
}

#station_mainapp_item_editmaskurluploadbutton {
	position: absolute;
	top: 10%;
	left: 45%;
}

#station_mainapp_item_editmaskurluploadpreview {
	position: absolute;
	border: solid 1px silver;
	top: 10%;
	left: 60%;
	height: 30%;
}


#station_mainapp_item_editmaskaudiolabel {
	position: absolute;
	top: 50%;
	left: 5%;
}

#station_mainapp_item_editmaskaudioupload {
	position: absolute;
	top: 50%;
	left: 20%;
}

#station_mainapp_item_editmaskaudiouploadbutton {
	position: absolute;
	top: 50%;
	left: 45%;
}

#station_mainapp_item_editmaskaudiouploadpreview {
	position: absolute;
	top: 50%;
	left: 65%;
}




#station_mainapp_deleteitem {
	position: absolute;
	bottom: 5%;
	left: 5%;
}

#station_mainapp_deleteitemconfirm {
	position: absolute;
	border: solid 1px silver;
	bottom: 5%;
	left: 15%;
}



.station_mainapp_itemselected {
	background-color: #cccccc;
}

.station_mainapp_item {
	background-color: #000000;
}