#station_mainapp_items {
	position: absolute;
	top: 10%;
	padding: 0%;
	left: 3%;
	height: 5%;
	width:94%;
}

#station_mainapp_edititem {
	position: absolute;
	border: solid 1px silver;
	top: 18%;
	left: 3%;
	width:94%;
	height:76%;
}

#station_mainapp_item_masks {
	position: absolute;
	top: 150px;
	height: 5%;
	left: 3%;
	width:94%;
}

.station_mainapp_maskselected {
	background-color: #888888;
}

#station_mainapp_item_editmask {
	position: absolute;
	border: solid 1px silver;
	top: 184px;
	left: 3%;
	width:94%;
	height:45%;
}

#station_mainapp_item_editscalelabel {
	position: absolute;
	top: 20px;
	left: 240px;
}

#station_mainapp_item_editscale {
	position: absolute;
	top: 20px;
	left: 290px;
}

#station_mainapp_item_editoriginlabel {
	position: absolute;
	top: 60px;
	left: 240px;
}

#station_mainapp_item_editorigin {
	position: absolute;
	top: 60px;
	left: 290px;
}

#station_mainapp_item_editurllabel {
	position: absolute;
	top: 5%;
	left: 5%;
}

#station_mainapp_item_editurlupload {
	position: absolute;
	top: 5%;
	left: 20%;
}

#station_mainapp_item_editurluploadbutton {
	position: absolute;
	top: 5%;
	left: 45%;
}

#station_mainapp_editurluploadpreview {
	position: absolute;
	border: solid 1px silver;
	height: 127px;
	top:20px;
	width:120px;
	height:80px;
	left: 100px;
}


#station_mainapp_item_editurluploadpreview {
	position: absolute;
	border: solid 1px silver;
	height: 127px;
	top:35px;
	width:120px;
	height:80px;
	left: 100px;
}


#station_mainapp_item_editaudiourllabel {
	position: absolute;
	top: 22px;
	left: 450px;
}

#station_mainapp_item_editaudiourlupload {
	position: absolute;
	top: 15%;
	left: 20%;
}

#station_mainapp_item_editaudiourluploadbutton {
	position: absolute;
	top: 15%;
	left: 45%;
}


#station_mainapp_item_editaudiourluploadpreview {
	position: absolute;
	color: white;
	top: 12%;
	left: 75%;
	height: 20%;
}


#station_mainapp_item_editmaskurllabel {
	position: absolute;
	top: 35px;
	left: 50px;
}

#station_mainapp_item_editmaskurlupload {
	position: absolute;
	top: 10%;
	left: 20%;
}

#station_mainapp_item_editmaskurluploadbutton {
	position: absolute;
	top: 10%;
	left: 45%;
}

#station_mainapp_item_editmaskurluploadpreview {
	position: absolute;
	border: solid 1px silver;
	top: 10%;
	left: 60%;
	height: 30%;
}


#station_mainapp_item_editmaskaudiolabel {
	position: absolute;
	top: 35px;
	left: 320px;
}

#station_mainapp_item_editmaskaudioupload {
	position: absolute;
	top: 50%;
	left: 20%;
}

#station_mainapp_item_editmaskaudiouploadbutton {
	position: absolute;
	top: 50%;
	left: 45%;
}

#station_mainapp_item_editmaskaudiouploadpreview {
	position: absolute;
	top: 50%;
	left: 65%;
	color: white;
}




#station_mainapp_deleteitem {
	position: absolute;
	bottom: 5px;
	left: 45px;;
}

#station_mainapp_deleteitemconfirm {
	position: absolute;
	border: solid 1px silver;
	bottom: 6px;
	left: 130px;
}

#station_mainapp_deletemask {
	position: absolute;
	bottom: 10px;
	right: 105px;;
}

#station_mainapp_deletemaskconfirm {
	position: absolute;
	border: solid 1px silver;
	bottom: 10px;
	right: 45px;
}




.station_mainapp_itemselected {
	background-color: #888888;
}



#station_mainapp_image_previewbox {
	position: absolute;
	background-color: #aaaaaa;
	color: #555555;
	text-align: center;
	height: 127px;
	top:20px;
	width:120px;
	height:80px;
	left: 100px;
	vertical-align: middle;
}

#station_mainapp_item_image_previewbox {
	position: absolute;
	background-color: #aaaaaa;
	color: #555555;
	text-align: center;
	height: 127px;
	top:35px;
	width:120px;
	height:80px;
	left: 100px;
	vertical-align: middle;
}

#station_mainapp_image_previewbox:hover {
	background-color: #666666;
	color: #555555;
	text-align: center;
}

#station_mainapp_image_uploadbutton {
	position: absolute;
	background-color: #eeeeee;
	color: #555555;
	text-align: center;
	height: 20px;
	top:100px;
	width:120px;
	left: 100px;
}

#station_mainapp_item_image_uploadbutton {
	position: absolute;
	background-color: #eeeeee;
	color: #555555;
	text-align: center;
	height: 20px;
	top:115px;
	width:120px;
	left: 100px;
}


#station_mainapp_image_uploadbutton:hover {
	background-color: #777777;
	color: #555555;
}

#station_mainapp_image_deletebutton {
	position: absolute;
	background-color: #eeeeee;
	color: #555555;
	text-align: center;
	height: 20px;
	top:102px;
	width:122px;
	left: 100px;
}

#station_mainapp_item_image_deletebutton {
	position: absolute;
	background-color: #eeeeee;
	color: #555555;
	text-align: center;
	height: 20px;
	top:117px;
	width:122px;
	left: 100px;
}

#station_mainapp_item_image_deletebutton:hover {
	background-color: #777777;
	color: #555555;
}

#station_mainapp_image_deletebutton:hover {
	background-color: #777777;
	color: #555555;
}

#station_mainapp_audio_uploadbutton {
	position: absolute;
	background-color: #eeeeee;
	color: #555555;
	top: 35px;
	width: 80px;
	height: 20px;
	left: 510px;
	text-align:center;
}

#station_mainapp_audio_uploadbutton:hover {
	background-color: #666666;
	color: #333333;
}

#station_mainapp_item_audio_uploadbutton {
	position: absolute;
	background-color: #eeeeee;
	color: #555555;
	top: 35px;
	width: 80px;
	height: 20px;
	left: 375px;
	text-align:center;
}

#station_mainapp_item_audio_uploadbutton:hover {
	background-color: #666666;
	color: #333333;
}

#station_mainapp_audio_deletebutton {
	position: absolute;
	background-color: #eeeeee;
	color: #555555;
	top: 35px;
	width: 80px;
	height: 20px;
	left: 510px;
	text-align:center;
}


#station_mainapp_audio_deletebutton:hover {
	background-color: #666666;
	color: #333333;
}	

#station_mainapp_item_audio_deletebutton {
	position: absolute;
	background-color: #eeeeee;
	color: #555555;
	top: 35px;
	width: 80px;
	height: 20px;
	left: 385px;
	text-align:center;
}


#station_mainapp_item_audio_deletebutton:hover {
	background-color: #666666;
	color: #333333;
}

#station_mainapp_audiouploadpreview {
	position: absolute;
	color: white;
	top: 75px;
	height: 30px;
	width: 200px;
	left: 445px;
}

#station_mainapp_item_audiouploadpreview {
	position: absolute;
	color: white;
	top: 70px;
	height: 30px;
	width: 200px;
	left: 380px;
}




