#image_type {
	position: absolute;
	height: 100%;
	width: 100%;
}

#image_image {
	position: relative;
	display: block;
	margin-left: auto;
    margin-right: auto;
	left : 0px;
	top: 0px;
	height: 100%;
}