<app>
	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>
	
	<view id="#dashboard">
		<template>dashboard/dashboard.mst</template>
		<style>dashboard/dashboard.css</style>
		<controller id="DashboardController">
		</controller>
	</view>
	
	<view id="#room">
		<template>room/room.mst</template>
		<style>room/room.css</style>
		<controller id="RoomController">
		</controller>
	</view>
	
	<view id="#station">
		<template>station/station.mst</template>
		<style>station/station.css</style>
		<controller id="StationController">
		</controller>
	</view>
	
	<view id="#roomselector">
		<template>roomselector/roomselector.mst</template>
		<style>roomselector/roomselector.css</style>
		<controller id="RoomSelectorController">
		</controller>
	</view>
	
	<view id="#roominfo">
		<template>roominfo/roominfo.mst</template>
		<style>roominfo/roominfo.css</style>
		<controller id="RoomInfoController">
		</controller>
	</view>
	
	<view id="#login">
		<template>login/login.mst</template>
		<style>login/login.css</style>
		<controller id="LoginController">
		</controller>
	</view>
	
</app>