<app>
	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>
	
	<view id="#dashboard">
		<template>dashboard/dashboard.mst</template>
		<controller id="DashboardController">
		</controller>
	</view>
	
	<view id="#room">
		<template>room/room.mst</template>
		<controller id="RoomController">
		</controller>
	</view>
	
	<view id="#roominfo">
		<template>roominfo/roominfo.mst</template>
		<controller id="RoomInfoController">
		</controller>
	</view>
	
	<view id="#login">
		<template>login/login.mst</template>
		<controller id="LoginController">
		</controller>
	</view>
	
</app>