#exhibitioninfo_toparea {
	position:absolute;
	padding: 5px;
  	border: solid 1px silver;
  	color:#ffffff;
  	background-color:#336;
  	font-size:13pt;
  	top: 10%;
	left: 10%;
	right: 10%;
	height: 80%;

}

#exhibitioninfo_languageselectlabel {
	position:absolute;
	left: 20px;
	top: 350px;
}

#exhibitioninfo_languageselect {
	position:absolute;
	left: 180px;
	top: 350px;
}

#exhibitioninfo_stationselectlabel {
	position:absolute;
	left: 20px;
	top: 380px;
}

#exhibitioninfo_stationselect {
	position:absolute;
	left: 180px;
	top: 380px;
}

#exhibitioninfo_showurllabel {
	position:absolute;
	left: 20px;
	top: 410px;
}

#exhibitioninfo_showurl {
	position:absolute;
	left: 230px;
	top: 410px;
}

#exhibitioninfo_stylelabel {
	position:absolute;
	left: 20px;
	top: 440px;
}

#exhibitioninfo_style {
	position:absolute;
	left: 180px;
	top: 440px;
}

#exhibitioninfo_jumperarea {
	position:absolute;
	left: 40%;
	top: 8000px;
	width: 60%;
}

#exhibitioninfo_jumperlabel {
	position:absolute;
		top: 8000px;
	left:0px;
}

#exhibitioninfo_jumper {
	position:absolute;
		top: 8000px;
	left:90px;
}

#exhibitioninfo_jumpersubmit {
	position:absolute;
	left:170px;
	width:100;
		top: 8000px;
}



#exhibitioninfo_hids {
	position:absolute;
	left: 20px;
	top: 110px;
	height: 300px;
	width: 200px;
}

#exhibitioninfo_hids_label {
	position:absolute;
	left: 0px;
	top: 0px;
}

#exhibitioninfo_hids_select {
	position:absolute;
	left: 10px;
	top: 30px;
}

#exhibitioninfo_edithidbutton {
	position:absolute;
	left: 10px;
	bottom: 100px;
}

#exhibitioninfo_deletehidbutton {
	position:absolute;
	left: 10px;
	bottom: 70px;
}

#exhibitioninfo_addhidbutton {
	position:absolute;
	left: 10px;
	bottom: 40px;
}


#exhibitioninfo_feedback {
	position:absolute;
	left: 50px;
	top: 80px;
}

#exhibitioninfo_codelabel {
	position:absolute;
	left: 30px;
	top: 50px;
}

#exhibitioninfo_donebutton {
	position:absolute;
	left: 50%;
	bottom: 10px;
}

#exhibitioninfo_deletelabel {
	position: absolute;
	top:90%;
	left:2%;
}

#exhibitioninfo_delete {
	position: absolute;
	top:90%;
	left:19%;
}

#exhibitioninfo_deleteconfirm {
	position: absolute;
	top:90%;
	left:25%;
}
