#exhibitioninfo_toparea {
	position:absolute;
	padding: 5px;
  	border: solid 1px silver;
  	color:#ffffff;
  	background-color:#336;
  	font-size:13pt;
  	top: 100px;
	left: 20%;
	height: 400px;
	width: 650px;
}

#exhibitioninfo_jumperarea {
	position:absolute;
	left: 40%;
	bottom: 80px;
	width: 60%;
}

#exhibitioninfo_jumperlabel {
	position:absolute;
	left:0px;
}

#exhibitioninfo_jumper {
	position:absolute;
	left:90px;
}

#exhibitioninfo_jumpersubmit {
	position:absolute;
	left:170px;
	width:100;
}



#exhibitioninfo_hids {
	position:absolute;
	left: 20px;
	top: 110px;
	height: 300px;
	width: 200px;
}

#exhibitioninfo_hids_label {
	position:absolute;
	left: 0px;
	top: 0px;
}

#exhibitioninfo_hids_select {
	position:absolute;
	left: 10px;
	top: 30px;
}

#exhibitioninfo_edithidbutton {
	position:absolute;
	left: 10px;
	bottom: 100px;
}

#exhibitioninfo_deletehidbutton {
	position:absolute;
	left: 10px;
	bottom: 70px;
}

#exhibitioninfo_addhidbutton {
	position:absolute;
	left: 10px;
	bottom: 40px;
}


#exhibitioninfo_feedback {
	position:absolute;
	left: 50px;
	top: 80px;
}

#exhibitioninfo_codelabel {
	position:absolute;
	left: 30px;
	top: 50px;
}

#exhibitioninfo_donebutton {
	position:absolute;
	left: 50%;
	bottom: 10px;
}
