#station_mainapp_items {
	position: absolute;
	top: 25%;
	left: 3%;
	width:94%;
}

#station_mainapp_edititem {
	position: absolute;
	border: solid 1px silver;
	top: 35%;
	left: 3%;
	width:94%;
	height:50%;
}

#station_mainapp_edititem_audiouploadlabel {
	position: absolute;
	top: 15%;
	left: 20px;
}

#station_mainapp_edititem_audioupload {
	position: absolute;
	top: 15%;
	left: 150px;
}

#station_mainapp_edititem_audiouploadbutton {
	position: absolute;
	top: 15%;
	left: 300px;
}

#station_mainapp_edititem_renderoptionslabel {
	position: absolute;
	top: 15%;
	left: 450px;
}

#station_mainapp_edititem_renderoptions {
	position: absolute;
	top: 15%;
	left: 600px;
}



#station_mainapp_edititem_images {
	position: absolute;
	border: solid 1px silver;
	top: 40%;
	left: 10%;
	width:80%;
}


.station_mainapp_edititem_image {
	position: relative;
	display:inline-block;
	border: solid 1px silver;
	width:100px;
}

.station_mainapp_itemselected {
	position: relative;
	background-color: #cccccc;
	display:inline-block;
	border: solid 1px silver;
	width:10%;
}

.station_mainapp_item {
	position: relative;
	display:inline-block;
	border: solid 1px silver;
	width:10%;
}

